body {
  background: #0D0208;
  color: #00FF41;
  display: inline-block;
  font: bold 16px 'Courier New', Courier, monospace;
}

.typewriter p {
  overflow: hidden;
  border-right: .7em solid #00FF41;
  white-space: nowrap;
  animation: 
    typing 1s steps(30, end),
    blink-caret .66s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00FF41 }
}

.fa {
  font-size: 36px;
  color:#00FF41;
}